.history-element:hover{
    background-color: gray;
}

.history-element:nth-last-child(1){
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.history-element:nth-child(1){
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

body{
    text-align: center;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
}

.web-title{
    display: inline-flex;
    width: 100%;
}

.web-title-name{
    text-align: left;
}

.next-music-box{
    margin-left: auto;
    margin-block: auto;
}

.next-music-link{
    border-radius: 10px;
    padding: 5px;
    margin-inline: auto;
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(175 175 175);
    border: 2px solid rgb(200 200 200);
}

.main-box{
    background-color: rgb(240 240 240);
    border-radius: 10px;
    border: 2px solid rgb(200 200 200);
}

.main-box-open{
    background-color: rgb(175 175 175);
    padding: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(200 200 200);
}

.main-image{
    width: 256px;
    border: 2px solid rgb(175 175 175);
}

.video-box{
    display: grid;
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
}

.video-scroller-box{
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(175 175 175);
    padding: 10px;
    border-top-left-radius: 10px;
    margin: 10px;
    border: 2px solid rgb(125 125 125);
    border-top-right-radius: 10px;
}

.video-container{
    display: inline-flex;
    gap: 10px;
}

.video-element{
    border: 2px solid rgb(100 100 100);
    margin-bottom: 50px;
    width: max-content;
    margin-inline: auto;
    border-radius: 5px;
    width: fit-content;
    background-color: rgb(150 150 150);
}

.video-title{
    border-bottom: 2px solid rgb(100 100 100);
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: rgb(125 125 125);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.video-embeded-screen{
    margin-inline: 10px;
    margin-top: 25px;
    width: fit-content;
    border: 2px solid rgb(50 50 50);
}

.videos-empty{
    border: 2px solid rgb(225 225 225);
    margin-bottom: 50px;
    width: max-content;
    margin-inline: auto;
    padding-inline: 10px;
    border-radius: 5px;
}

.history-box{
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
}

.history-text{
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}

.history-container{
    margin: 10px;
    border: 2px solid rgb(125 125 125);
    background-color: rgb(175 175 175);
    border-radius: 10px;
}

.history-element{
    display: flex;
    gap: 10px;
    padding: 5px;
}

.history-image{
    height: 150px;
    border: 2px solid rgb(150 150 150);
}

.history-description{
    text-align: left;
}

.main-box-close{
    background-color: rgb(175 175 175);
    padding: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 2px solid rgb(200 200 200);
}

.main-box-container{
    display: flex;
}

.info-box{
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
}

.info-text{
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}

.info-release{
    margin-block: 5px;
    margin-inline: 20px;
    text-align: left;
}

.videos-text{
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}