.history-element:hover{
    background-color: gray;
}

.history-element:nth-last-child(1){
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.history-element:nth-child(1){
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.next-music-link:hover{
    color: white;
    background-color: rgb(150 150 150);
}

body{
    text-align: center;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
}

.web-title{
    display: inline-flex;
    width: 100%;
}

.web-title-name{
    text-align: left;
}

.next-music-box{
    margin-left: auto;
    margin-block: auto;
}

.next-music-link{
    border-radius: 10px;
    padding: 5px;
    margin-inline: auto;
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(175 175 175);
    border: 2px solid rgb(200 200 200);
}

.main-box{
    background-color: rgb(240 240 240);
    border-radius: 10px;
    border: 2px solid rgb(200 200 200);
}

.main-box-open{
    background-color: rgb(175 175 175);
    padding: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(200 200 200);
}

.main-image-element{
    text-align: center;
}

.main-image{
    height: 256px;
    width: 256px;
    border: 2px solid rgb(175 175 175);
}

.video-box{
    display: grid;
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
    width: 100%;
}

.video-scroller-box{
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(175 175 175);
    padding: 10px;
    border-top-left-radius: 10px;
    margin: 10px;
    border: 2px solid rgb(125 125 125);
    border-top-right-radius: 10px;
    height: 405px;
}

.video-container{
    display: inline-flex;
    gap: 10px;
}

.video-element{
    border: 2px solid rgb(100 100 100);
    margin-bottom: 50px;
    margin-inline: auto;
    border-radius: 5px;
    background-color: rgb(150 150 150);
    margin: 0;
    width: 350px;
}

.video-title{
    border-bottom: 2px solid rgb(100 100 100);
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: rgb(125 125 125);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.video-embeded-screen{
    margin-inline: 10px;
    margin-top: 25px;
    width: fit-content;
    border: 2px solid rgb(50 50 50);
}

.videos-empty{
    border: 2px solid rgb(100 100 100);
    margin-block: 50px;
    width: max-content;
    margin-inline: auto;
    padding-inline: 10px;
    border-radius: 5px;
    background-color: rgb(150 150 150);
}

.history-box{
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
}

.history-text{
    height: 28px;
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}

.history-container{
    margin: 10px;
    border: 2px solid rgb(125 125 125);
    background-color: rgb(175 175 175);
    border-radius: 10px;
}

.history-element{
    display: flex;
    gap: 10px;
    padding: 5px;
}

.history-image{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(150 150 150);
}

.history-description{
    text-align: left;
}

.main-box-close{
    background-color: rgb(175 175 175);
    padding: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 2px solid rgb(200 200 200);
}

.main-box-container{
    display: flex;
}

.info-box{
    background-color: rgb(210 210 210);
    border-radius: 10px;
    margin: 10px 10px;
    border: 2px solid rgb(175 175 175);
}

.info-text{
    height: 28px;
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}

.info-release{
    margin-block: 5px;
    margin-inline: 20px;
    text-align: left;
}

.videos-text{
    height: 28px;
    width: auto;
    padding-block: 25px;
    padding-inline: 20px;
    background-color: rgb(150 150 150);
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid rgb(175 175 175);
}

.video-url{
    margin-top: 10px;
    margin-bottom: 15px;
}

.info-title-text{
    text-align: center;
    font-size: 20px;
    margin-block: 15px;
}

.expand-history-box{
    margin-block: 20px;
    margin-inline: 10px;
    text-align: right;
}

.expand-history-link{
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(175 175 175);
    border: 2px solid rgb(200 200 200);
}

.expand-history-link:hover{
    color: white;
    background-color: rgb(150 150 150);
}

.pagination-container{
    display: inline-flex;
    margin-block: 5px;
    background-color: rgb(175 175 175);
    border: 2px solid rgb(200 200 200);
    border-radius: 12px;

}

.first-page-link{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-right: none;
    width: 100px;
    margin-block: auto;

}

.first-page-link:hover{
    background-color: gray;
}

.last-page-link{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-left: none;
    width: 100px;
    margin-block: auto;

}

.last-page-link:hover{
    background-color: gray;
}

.previous-page-link{
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-inline: none;
    width: 100px;
    margin-block: auto;

}

.previous-page-link:hover{
    background-color: gray;
}

.next-page-link{
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-inline: none;
    width: 100px;
}

.next-page-link:hover{
    background-color: gray;
}

.current-max-pages-number{
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
    margin-block: auto;
    border-inline: 4px solid black;
    border-radius: 10px;
    background-color: rgb(200 200 200);
}

@media only screen and (max-width: 1000px){
    .web-title{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .video-box{
        display: grid;
        background-color: rgb(210 210 210);
        border-radius: 10px;
        margin: 10px 10px;
        border: 2px solid rgb(175 175 175);
        width: unset;
    }

    .main-box-container{
        display: block;
    }

    .info-release{
        margin-block: 5px;
        margin-inline: 20px;
    }

    .web-title-name{
        text-align: center;
    }

    .info-release{
        text-align: center;
    }
}