<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Electronic Dance Music Discovery</title>
    <link rel="stylesheet" href="/styles.css?=3">
</head>
<body>
    <div th:insert="~{header}"></div>

    <div class="main-box">
        <div class="main-box-open"></div>

        <div class="history-box">
            <h2 class="history-text">History</h2>

            <form th:action="@{/history?={(q=${q})}}" method="get">
                <h3 class="text-align: center;">Search title:</h3>
                <input type="text" th:value="${q}" name="q"/>
                <button type="submit">Search</button>
            </form>

            <div class="history-container">
                <div th:if="${not #lists.isEmpty(historicalReleaseData)}" class="history-element" th:each="release : ${historicalReleaseData}">
                    <div>
                        <div th:if="${not #lists.isEmpty(release.images)}" th:each="image, iterStat : ${release.images}">
                            <img class="history-image" th:if="${iterStat.first}" th:src="${image.get('uri')}">
                        </div>
                        <div th:if="${#lists.isEmpty(release.images)}">
                            <img th:src="@{/images/no_image.png}" alt="No images available" class="history-image">
                        </div>
                    </div>
                    <div class="history-description">
                        <h3 th:text="${release.title}"></h3>
                        <strong>Label: </strong>
                        <span th:each="label, iterStat : ${release.labels}">
                                <span th:text="${label.name}"></span><span th:if="${!iterStat.last}"></span>
                            </span>
                        <br>
                        <strong>Artist:</strong>
                        <span th:each="artist, iterStat : ${release.artists}">
                                <span th:text="${artist.name}" th:if="${artist.name}"></span><span th:if="${!iterStat.last}">, </span>
                            </span>
                        <br>
                        <strong>Style: </strong>
                        <span th:each="style, iterStat : ${release.styles}">
                                <span th:text="${style}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        <br>
                        <strong>Release Date: </strong><span th:text="${release['released_formatted']}"></span>
                        <br>
                        <a th:href="@{/?releaseId={previousReleaseId}(previousReleaseId=${release.id})}">More info</a>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(historicalReleaseData)}" class="history-empty">
                    <h3>No history</h3>
                </div>
            </div>
            <div class="pagination-container">
                <a class="first-page-link" th:if="${currentPage > 1}" th:href="@{/history?page=1}">First</a>
                <a class="first-page-link" th:if="${currentPage <= 1}">First</a>
                <a class="previous-page-link" th:if="${currentPage > 1}" th:href="@{/history(page=${currentPage - 1})}">Previous</a>
                <a class="previous-page-link" th:if="${currentPage <= 1}">Previous</a>
                <div class="current-max-pages-number">
                    <span th:text="${currentPage}"></span><span>/</span><span th:text="${maxPages}"></span>
                </div>
                <a class="next-page-link" th:if="${currentPage < maxPages}" th:href="@{/history(page=${currentPage + 1})}">Next</a>
                <a class="next-page-link" th:if="${currentPage >= maxPages}">Next</a>
                <a class="last-page-link" th:if="${currentPage < maxPages}" th:href="@{/history(page=${maxPages})}">Last</a>
                <a class="last-page-link" th:if="${currentPage >= maxPages}">Last</a>
            </div>
        </div>
        <div class="main-box-close"></div>
    </div>

    <div th:insert="~{footer}"></div>
</body>
</html>