<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Electronic Dance Music Discovery</title>
    <link rel="stylesheet" href="/styles.css?=8">
</head>
<body>
    <div th:insert="~{header}"></div>

    <div class="main-box">
        <div class="main-box-open"></div>

        <div class="main-box-container">
            <div class="info-box" th:if="${releaseData} != null">
                <h2 class="info-text">Release Information</h2>
                <div class="info-release">
                    <div class="info-title-text">
                        <strong th:text="${releaseData.title}"></strong>
                    </div>
                    <div class="main-image-element" th:if="${not #lists.isEmpty(images)}" th:each="image, iterStat : ${images}">
                        <img class="main-image" th:if="${iterStat.first}" th:src="${image.get('uri')}">
                    </div>
                    <div th:if="${#lists.isEmpty(images)}">
                        <img th:src="@{/images/no_image.png}" alt="No images available" class="main-image">
                    </div>
                    <br>
                    <strong>Label: </strong>
                    <span th:each="label, iterStat : ${releaseData.labels}">
                        <span th:text="${label.name}"></span><span th:if="${!iterStat.last}"></span>
                    </span>
                    <br>
                    <strong>Artist:  </strong>
                    <span th:each="artistName, iterStat : ${artistNames}">
                        <span th:text="${artistName}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                    <br>
                    <strong>Style: </strong>
                    <span th:each="style, iterStat : ${releaseData.styles}">
                        <span th:text="${style}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                    <br>
                    <strong>Released: </strong><span th:text="${releaseDate}"></span>
                    <br>
                    <a th:href="@{https://www.discogs.com/release/{id}(id=${releaseId})}" target="_blank">More info in Discogs</a>
                </div>
            </div>
            <div class="video-box">
                <h2 class="videos-text">Videos</h2>
                <div class="video-scroller-box">
                    <div class="video-container">
                        <div class="video-element" th:each="video : ${videos}" th:if="${video} != null">
                            <p class="video-title">
                                <strong th:text="${video.title}"></strong><br>
                            </p>
                            <iframe class="video-embeded-screen" th:src="${video.embedUrl}" width="410" height="230" frameborder="0" allowfullscreen></iframe>
                            <br>
                            <div class="video-url">
                                <strong>URL: </strong>
                                <a th:href="${video.uri}" target="_blank">Watch here</a>
                            </div>
                        </div>
                        <div class="videos-empty" th:if="${videos.empty}">
                            <h3>Sorry, there are no videos.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history-box">
            <h2 class="history-text">History</h2>
            <div class="history-container">
                <div th:if="${not #lists.isEmpty(historicalReleaseData)}" class="history-element" th:each="release : ${historicalReleaseData}">
                    <div>
                        <div th:if="${not #lists.isEmpty(release.images)}" th:each="image, iterStat : ${release.images}">
                            <img class="history-image" th:if="${iterStat.first}" th:src="${image.get('uri')}">
                        </div>
                        <div th:if="${#lists.isEmpty(release.images)}">
                            <img th:src="@{/images/no_image.png}" alt="No images available" class="history-image">
                        </div>
                    </div>
                    <div class="history-description">
                        <h3 th:text="${release.title}"></h3>
                        <strong>Label: </strong>
                        <span th:each="label, iterStat : ${release.labels}">
                            <span th:text="${label.name}"></span><span th:if="${!iterStat.last}"></span>
                        </span>
                        <br>
                        <strong>Artist:</strong>
                        <span th:each="artist, iterStat : ${release.artists}">
                            <span th:text="${artist.name}" th:if="${artist.name}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        <br>
                        <strong>Style: </strong>
                        <span th:each="style, iterStat : ${release.styles}">
                            <span th:text="${style}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        <br>
                        <strong>Release Date: </strong><span th:text="${release['released_formatted']}"></span>
                        <br>
                        <a th:href="@{/?releaseId={previousReleaseId}(previousReleaseId=${release.id})}">More info</a>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(historicalReleaseData)}" class="history-empty">
                    <h3>No history</h3>
                </div>
            </div>
            <div class="expand-history-box">
                <a class="expand-history-link" th:href="@{/history}">Expand history</a>
            </div>
        </div>
        <div class="main-box-close"></div>
    </div>

    <div th:insert="~{footer}"></div>

</body>
</html>